{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./dist/"],
      "alias": {
        "@root": "./dist/src",
        "@images": "./images"
      }
    }]
  ]
}
